div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px black solid;
    display: inline-block;

}

#box1{
position: static;           /*bydefault in css every element postion is static position       */

}

#box2{
    position: relative;
    top: 20px;
    left: 10px;
}

#box3{
    position: absolute;
    top: 10px;
    left: 20px;
    background-image: url("https://media.istockphoto.com/id/1134242509/photo/young-monkeys-cleaning-eachother.jpg?s=1024x1024&w=is&k=20&c=NpjcGaFO0rwL0laULVAYGHjchWo0vImZTub_ctxe6dE=");
    background-size: cover;
}

#box4{
    position: fixed;         /*box4 is fixed*/
    right: 100px;
    bottom: 50px;           
    width: 75px;
    
}